{% extends "base.html" %} {% block title %}Info{% endblock %} {% block content %}
<br/>
  <h3 align="center">Information and navigation</h3>
  <br/>

  <style type="text/css">
    .centerImage
    {
     text-align:center;
     display:block;
    }
    </style>

  <div> 
    <center><img src="https://georoc.eu/georoc/slider/1_GEOROC.png" width="500" height="300" class="centerImage"></center>
  </div>
  <br/>


  <dl class="row">
    <dt class="col-sm-3">Home page</dt>
    <dd class="col-sm-9">From here you can navigate to 'Upload file', 'Inspect table', or 'My tables' </dd>
  
    <dt class="col-sm-3">Info </dt>
    <dd class="col-sm-9">This website is made for the Databases and Information Systems course (DIS) block 4 2023. 
      <br/>
      The purpose of this site is to inspect geochemical data. You can add .csv-files under uploads, which are saved in a database as individual tables. 
      You can inspect your tables and generate 
      <a href="https://www.oxfordreference.com/display/10.1093/acref/9780199653065.001.0001/acref-9780199653065-e-9878;jsessionid=7B7937A6386D319B82016E5A113EF7BA" target="_blank">Harker diagrams </a> on the <a href="/query">inspect table</a> page.
    
      <br />
      The app only saves the major element data, but will be extended with more plotting and inspection options during the summer holidays of 2023. :) 
      By group 111. <br/>
    </dd>
  </dl>
   
{% endblock %}