{% extends "base.html" %} {% block title %}Info{% endblock %} {% block content %}
<br/>
  <h3 align="center">Information and navigation</h3>
  <br/>

  <style type="text/css">
    .centerImage
    {
     text-align:center;
     display:block;
    }
    </style>

  <div> 
    <center><img src="https://georoc.eu/georoc/slider/1_GEOROC.png" width="500" height="300" class="centerImage"></center>
  </div>
  <br/>


  <dl class="row">
    <dt class="col-sm-3">Home page</dt>
    <dd class="col-sm-9">From here you can navigate to 'Upload file', 'Inspect table', or 'My tables' </dd>
  
    <dt class="col-sm-3">Info </dt>
    <dd class="col-sm-9">This website is made for the Databases and Information Systems course (DIS) block 4 2023. 
      <br/>
      By gruop 111. <br/>
    </dd>
  </dl>
   
{% endblock %}