{% extends "base.html" %} {% block title %} Querysubmit {% endblock %} {% block content %}
<br />
<h1 align="center">Your table</h1>

<p class="font-weight-bold">You choose table: </p> {{table}} 


<p class="font-weight-bold">Maximum of {{chemElm}}</p> {{maxchemElm}}
<br/>             
<p class="font-weight-bold">Minimum of {{chemElm}}</p> {{minchemElm}}
<br/>

<p class="font-weight-bold">Display of SiO2 vs. K2O + Na2O</p> 
<br />


<p class="font-weight-bold">Output of selected type {{selectCol}}</p>


<div {{table}} </div>
<br/>

<div class="row mb-3">
  <label for="table" class="col-sm-2 col-form-label">Table</label>
  <div class="col-sm-10">
    <input type="table" class="border border-secondary p-2 mb-2"> >
  </div>
</div>


<p class="font-weight-bold">Output of selected type {{selectCol}}</p>
<div class="border border-secondary p-2 mb-2">
  {%for i in selectOutput%}
    {{i}}
    <br/>
  {%endfor%}
</div>
<br/>



{% endblock %}