{% extends "base.html" %} {% block title %}Query{% endblock %} {% block content %}
<br />
<h1 align="center">Inspect a table</h1>

<form method="POST">
    <br/>
    <p> Choose a table </p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
      </div>
      <SELECT class="custom-select" id="table" name="table">
        {% for t in tablelist %}
          <OPTION value={{t[0]}}>{{t[0]}}</OPTION>
        {% endfor %}
      </SELECT>
      </div>

    <p> Here you can get the max and min of your chosen chemical element. </p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
      <select class="custom-select" id="chemElm" name="chemElm">
        <option value="SiO2">SiO2</option>
        <option value="Al2O3">Al2O3</option>
        <option value="CaO">CaO</option>
        <option value="Na2O">Na2O</option>
        <option value="K2O">K2O</option>
        <option value="FeO">FeO</option>
        <option value="Fe2O3">Fe2O3</option>
        <option value="FeO_total">FeO_total</option>
        <option value="MgO" selected >MgO</option>
        <option value="MnO">MnO</option>
        <option value="P2O5">P2O5</option>
      </select>
      </div>


      <p> Select something you wish to know from your chosen table. </p>
      

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
      <select class="custom-select" id="selectCol" name="selectCol">
        <option value="location" selected> location</option>
        <option value="tectonic_set">tectonic_set</option>
        <option value="rock_name">rock_name</option>
        <option value="rock_type">rock_type</option>
        <option value="material">material</option>
        <option value="loss">loss</option>
      </select>
      </div>

      <br />
      <button type="submit" class="btn btn-dark" name="submit_selected" value="submit_selected">Submit</button>

      <p> Delete all samples where a specific parameter/chemical element does not meet your satisfaction. </p>
      <div class="input-group mt-3 mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="param">Options</label>
        </div>
        <select class="custom-select" id="param" name="param">
          <option value="loss" selected>loss</option>
          <option value="SiO2">SiO2</option>
          <option value="MgO" >MgO</option>
        </select>
      <div class="input-group-prepend">
        <label class="input-group-text" for="ope">Operator</label>
      </div>
      <select class="custom-select" id="ope" name="ope">
        <option value="=" selected>Equal to (=)</option>
        <option value="<">Less than (<)</option>
        <option value="<=">Less than or equal to (<=)</option>
        <option value=">">Greater than (>)</option>
        <option value=">=">Greater than or equal to (>=)</option>
      </select>
        <input type="input-group-text" class="form-control" id="num" name="num" placeholder="Number (decimal)" aria-label="num">
        <button type="submit" class="btn btn-dark" name="delete" value="delete">Submit</button>
      </div>
    </form>
      


    {% endblock %}