{% extends "base.html" %} {% block title %} upload {% endblock %} {% block content %}
    <br/>
    <h1 align="center">Upload your sample</h1>
    <br/>
    <p>Please make sure your file is a csv file. </p>
    <p>You can find sample files from <a href="https://georoc.eu/georoc/new-start.asp" target="_blank">GeoRoc</a>, which can be uploaded directly here.  </p>
    
    <form method = "POST" enctype="multipart/form-data" > 
        <form novalidate>
        <input
          type="text"
          class="form-control"
          id="tableName"
          name="tableName"
          placeholder="Enter table name" required
          />
        <br/>
        <input type="file" name="file" accept=".csv">
        <input type = "submit" value="Upload file"> 
    </form>
    <br/>

{% endblock %}
